.data {
    color: aliceblue;
}
body {
    background-color: #1a1a1a;
}

.btn {
    user-select: none;
    cursor: pointer;
}

* {
    font-family: Monospaced, serif;
}

.modal select {
    background-color: #1a1a1a;
    color: aliceblue;
}

.modal input {
    display: inline-block;
    background-color: #1a1a1a;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid #454545;
    float: right;
}

.modal .field {
    padding-bottom: 5px;
}

.modal .highlight {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

.modal .error {
    border: 1px solid red;
}

.modal .progress {
    border: 1px solid yellow;
}

.modal .success {
    border: 1px solid green;
}