.highlights {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}

.box {
    border-radius: 5px;
    min-height: 60px;
}

.box p {
    padding-left: 10px;
}

.connect {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px #454545 solid;
    border-radius: 5px;
    width: 50%;
    transition: 0.1s;
}

.connect:hover {
    background-color: #454545;
    color: #ffffff;
}

.box h3 {
    text-align: center;
}
.gray {
    background-color: #454545;
}

.connect-button {
    border: 2px solid #454545;
    float: right;
    margin-top: 15px;
    padding: 10px;
    transition: 0.1s;
    border-radius: 5px;
}

.connect-button:hover {
    border: 2px solid #d1ff00;
}