.highlights {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}

.box {
    border-radius: 5px;
    min-height: 60px;
}

.box p {
    padding-left: 10px;
}

.box h3 {
    text-align: center;
}
.gray {
    background-color: #454545;
}