navbar .new-button {
    color: #00FF00;
    background-color: #001240;
    border: 2px solid #00FF00;
}

navbar .new-button:hover {
    background-color: #00FF00;
    color: #001853;
}

navbar {
    background-color: #001853;
    color: aqua;
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
}

navbar .navbar-button {
    background-color: #001240;
    border: 1px solid aqua;
    padding: 12px;
    margin-left: 0.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}
.navbar-button:hover {
    background-color: aqua;
    color: black;
    cursor: pointer;
}
